@charset "utf-8";
body{
	background-color:#000;
	color:#fff;
}
*{
	margin:0;padding:0;border:0;outline:none;
}
#canvas {
	position:fixed;
	left:0;
	top:0;
	z-index:-1;
}
.mb{
	padding:0% 3% 0% 3%;
	margin:1% 5% 10% 5%;
	background-color:rgba(48,41,41,0.4);
	border:1px solid #fff;
}
.icon{
	width:140px;
	height:140px;
	margin:1% 0% 0% 0%;
	float:left;
	background:url(../image/icon.png) no-repeat;
	background-size:100%;
}
.title{
	font-size:555%;
	text-shadow:10px 10px 5px #000;
	margin:0% 0% 0% 50%;
	color:#fff;
}
.lj{
	overflow:hidden;
	margin:0% 5% 0% 50%;
	border-width:2px;
	border-color:#999;
	border-style:solid;
}
.lj>a{
	text-decoration:none;
	color:#000;
	font-size:200%;
	text-align:center;
	background-color:#fff;
	border-style:solid;
	border-width:0px 1px 0px 0px;
	float:left;
}
hr{
	border:#fff solid 1px;
	width:103%;
	margin:2.5% 0% 2.5% -1.5%;
}
h2{
	font-size:450%;
	text-indent:1em;
}
p{
	font-size:200%;
	text-indent:2em;
}
.xz{
	overflow:hidden;
	text-decoration:none;
}
.xz>a{
	color:#fff;
	font-size:200%;
	margin:0 0 0 2%;
	float:left;
}
.ewm{
	width:200px;
	height:auto;
	border:5px solid #fff;
}
